$black:          #000;
$dogwood:        #edd1c6;
$eggplant:       #695467;
$flash:          #efefef;
$magenta:        #a2578f;
$navy:           #0e1e2e;
$rose:           #a06184;
$violet:         #633e68;
$violet-chinese: #93597e;
$violet-english: #643f69;
$white:          #fff;