@use 'colors';

@mixin wave {
    width: 100vw;
    height: 100%;
    background: colors.$magenta;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: calc((100% - 100vw) / 2);
    z-index: -1;
    background-position: center -1px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../images/wave-top.svg');
}