@use 'sass:math';
@use 'colors';
@use 'fonts';
@use 'mixins';

$weird-offset: math.div(45, 16) * 1rem;

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: fonts.$montserrat;
    color: colors.$navy;
}

img, svg {
    display: block;
    margin: 0 auto;
}

.efekt {
    &-button {
        display: inline-flex;
        padding: .75rem 3.125rem;
        border-radius: 3.125rem;
        font-size: 1.25rem;
        color: colors.$white;
        background: linear-gradient(142deg, colors.$violet-english 0%, colors.$violet-chinese 100%);
        text-transform: uppercase;
        font-weight: fonts.$bold;
        text-decoration: none;
        letter-spacing: .0625rem;

        @at-root .efekt-row[data-row="front-page-intro"] #{&} {
            margin-left: $weird-offset;
        }
    }

    &-h1 {
        color: colors.$magenta;
        font-weight: fonts.$medium;

        @at-root .efekt-row[data-row="front-page-intro"] #{&} {
            margin: 0 0 1rem $weird-offset;
            font-size: 5rem;
            line-height: math.div(9, 8);
        }
    }

    &-h2 {
        color: colors.$navy;
        font-weight: fonts.$bold;
        font-size: 2.5rem;
        display: inline-block;

        &::after {
            content: '';
            display: block;
            width: calc(100% + 2.5rem);
            margin-top: .25rem;
            margin-left: -1.25rem;
            height: 1px;
            background: colors.$magenta;
        }

        @at-root .efekt-row[data-row="front-page-timer"] #{&} {
            margin-left: $weird-offset;
            font-weight: fonts.$regular;
            color: colors.$eggplant;
            font-size: 2rem;

            &::after {
                display: none;
            }
        }

        @at-root .efekt-row[data-row="front-page-about-us"] #{&} {
            margin-bottom: 1.125em;
        }

        @at-root .efekt-row[data-row="front-page-benefits"] #{&},
        .efekt-row[data-row="front-page-agenda"] #{&} {
            color: colors.$flash;

            &::after {
                background: colors.$flash;
            }
        }

        @at-root .efekt-row[data-row="front-page-speakers"] #{&} {
            margin-bottom: 2.175em;
        }

        @at-root .efekt-row[data-row="front-page-location"] #{&} {
            margin-bottom: 1.95em;
        }

        @at-root .efekt-row[data-row="front-page-conferences"] #{&} {
            + div {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 1rem;
                margin-bottom: 4.25rem;

                img {
                    flex: 0 0 calc(100% / 3);
                    max-width: calc(100% / 3);
                    cursor: pointer;
                    padding: .825rem;
                    margin: 0;
                }

                ~ div {
                    &::before {
                        @include mixins.line;
                    }

                    &:last-of-type {
                        &::after {
                            @include mixins.line;
                        }
                    }

                    &::before,
                    &:last-of-type::after {
                        width: 89%;
                        margin: 1.5em auto 2em;
                    }
                }
            }
        }
    }

    &-h3 {
        color: colors.$navy;
        font-weight: fonts.$bold;
        font-size: 1.75rem;

        @at-root .efekt-row[data-row="front-page-benefits"] #{&},
        .efekt-row[data-row="front-page-agenda"] #{&} {
            color: colors.$flash;
            margin-top: .8em;
            margin-bottom: 1.1em;
        }

        @at-root .efekt-speakers #{&} {
            color: colors.$magenta;
            font-size: 2.5rem;
            font-weight: fonts.$medium;
            margin: .8em 0 .5em;
        }

        &:not(:first-of-type) {
            @at-root .efekt-row[data-row="front-page-agenda"] #{&} {
                &::before {
                    content: '';
                    display: block;
                    width: calc(100% + 3rem);
                    margin-left: -1.5rem;
                    height: 1px;
                    background: colors.$white;
                    margin-bottom: 1em;
                }
            }
        }

        @at-root .efekt-row[data-row="front-page-conferences"] #{&} {
            font-weight: fonts.$regular;
            font-size: 1.5rem;
            color: colors.$eggplant;
            margin-bottom: .1em;

            strong {
                display: block;
                font-size: 1.75rem;
                font-weight: fonts.$bold;
                margin-top: .25em;
            }

            + a {
                font-size: 1.25rem;
                color: colors.$magenta;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    &-menu {
        display: inline-flex;
        align-items: flex-start;
        gap: 1rem;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;


        @at-root .efekt-row[data-row="header"] #{&} {
            margin-right: 8.875rem;
            margin-top: .5rem;
        }

        a {
            color: colors.$violet;
            text-align: center;
            font-size: 1.25rem;
            text-decoration: none;
            padding: .625rem 1.25rem;
        }
    }

    &-numbers {
        @at-root ul#{&} {
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
        }

        display: grid;
        grid-template:  repeat(2, auto) / repeat(3, 1fr);
        grid-gap: 1.875rem;
        place-content: center;

        li {
            display: flex;
            align-items: center;
            flex-direction: column;
            border-radius: .9375rem;
            background: rgba(colors.$flash, 0.70);
            backdrop-filter: blur(.25rem);
            box-shadow: 0 .1875rem .375rem 0 rgba(colors.$black, .23), 0 .1875rem .375rem 0 rgba(colors.$black, .16);
            padding: 1.25rem;

            div {
                line-height: 1;
                font-size: 1.25rem;
                text-align: center;

                strong {
                    font-size: 2.5rem;
                    font-weight: fonts.$bold;
                    margin: .25em 0 .125em;
                    display: block;
                }
            }

            &:nth-child(4) {
                grid-column: span 3;
                flex-direction: row;
            }
        }

        svg {
            height: 3rem;
        }
    }

    &-p {
        font-size: 1.5rem;
        line-height: math.div(33.6, 24);

        @at-root .efekt-row[data-row="front-page-intro"] #{&} {
            margin: 0 0 4.75rem $weird-offset;
            font-size: 2rem;
            color: colors.$eggplant;
        }

        @at-root .efekt-row[data-row="front-page-about-us"] #{&} {
            font-family: fonts.$hind;
            font-size: 1.25rem;
            margin-bottom: 1.45em;

            &:nth-of-type(3),
            &:last-of-type {
                font-weight: fonts.$bold;
            }

            &:last-of-type {
                font-size: 1.5rem;
            }
        }

        @at-root .efekt-row[data-row="front-page-quote"] #{&} {
            font-size: 1.125rem;
            line-height: 1.75;
            color: colors.$flash;

            &:first-child {
                font-size: 1.5rem;
                font-weight: fonts.$extralight;
                line-height: 1.15;

                span {
                    font-style: italic;
                    display: block;
                }
            }

            &:nth-child(2),
            &:nth-child(4) {
                font-family: fonts.$hind;
                font-size: 1.25rem;
                line-height: 1.6;

                span {
                    font-weight: fonts.$medium;
                    text-transform: uppercase;
                }
            }

            &:nth-child(2) {
                margin-top: 4.625em;
            }

            &:nth-child(3) {
                font-weight: fonts.$bold;
                font-size: 1.75rem;
                margin-top: 1.875em;
            }

            &:nth-child(4) {
                line-height: 1.6;
                margin-top: 1em;
            }

            &:nth-child(5) {
                margin-top: 1em;
                font-size: 1.5rem;
                font-weight: fonts.$extralight;
            }
        }

        @at-root .efekt-row[data-row="front-page-benefits"] #{&},
        .efekt-row[data-row="front-page-agenda"] #{&} {
            font-family: fonts.$hind;
            font-size: 1.25rem;
            line-height: 1.6;
            margin-bottom: 2.25em;
        }

        @at-root .efekt-row[data-row="front-page-benefits"] #{&} {
            &:last-child {
                font-size: 1.75rem;
                font-family: fonts.$montserrat;
                font-weight: fonts.$bold;
                line-height: 1.25;
                margin-top: 2.75em;
            }
        }

        @at-root .efekt-speakers #{&} {
            font-family: fonts.$hind;
            font-size: 1.25rem;
            line-height: 1.5875;
        }

        @at-root .efekt-row[data-row="front-page-location"] #{&} {
            margin-bottom: 3em;

            span {
                font-weight: fonts.$medium;
            }
        }

        @at-root .efekt-row[data-row="front-page-location"] img + #{&} {
            margin-top: 1em;
        }
    }

    &-row {
        &[data-row="header"] {
            margin-top: 1.83rem;
            justify-content: space-between;

            svg {
                width: 14.375rem;
            }
        }

        &[data-row="front-page-intro"] {
            margin-top: 7.3125rem;
            text-align: center;
        }

        &[data-row="front-page-timer"] {
            margin-top: 5rem;
            text-align: center;
        }

        &[data-row="front-page-numbers"] {
            margin-top: 3rem;
            margin-bottom: 3rem;
        }

        &[data-row="front-page-about-us"] {
            margin-top: 8.5rem;
            text-align: center;
        }

        &[data-row="front-page-quote"],
        &[data-row="front-page-benefits"],
        &[data-row="front-page-agenda"] {
            color: colors.$white;
            text-align: center;
            position: relative;

            &::before {
                @include mixins.wave;
            }
        }

        &[data-row="front-page-agenda"] {
            &::after {
                @include mixins.wave;
                height: 50%;
                bottom: 0;
                top: auto;
                background-image: url('../../images/wave-bottom.svg');
                background-position-y: calc(100% + 2px);
            }
        }

        &[data-row="front-page-quote"] {
            margin-top: 1.875rem;
        }

        &[data-row="front-page-agenda"] {
            margin-top: 2.5rem;
        }

        &[data-row="front-page-benefits"] {
            margin-bottom: 1.875rem;

            &::before {
                background-image: url('../../images/wave-bottom.svg');
                background-position-y: calc(100% + 1px);
            }
        }

        &[data-row="front-page-speakers"] {
            text-align: center;
            margin-top: 2.5rem;
        }

        &[data-row="front-page-location"],
        &[data-row="front-page-conferences"] {
            text-align: center;
        }

        &[data-row="front-page-location"] {
            margin-top: 41rem;

            div div {
                display: grid;
                grid-template-columns: repeat(2, auto);
                grid-auto-flow: row;
                place-content: center;
                grid-gap: 2.125rem;
                margin: 0 -2.125rem 0;

                + img {
                    margin-top: 4.5rem;
                }
            }
        }

        &[data-row="front-page-conferences"] {
            div div {

            }
        }
    }

    &-speakers {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3.625rem 4.875rem;
        text-align: center;
        margin-bottom: 0;
        padding-left: 0;
        margin-left: .25 * $weird-offset;
        margin-right: -.25 * $weird-offset;
        list-style: none;

        li {
            div {
                border-radius: 1.5625rem;
                border: 1px solid colors.$magenta;
                overflow: hidden;
            }
        }
    }

    &-timer {
        display: grid;
        grid-template-columns: 7.75rem auto 7.75rem auto 7.75rem auto 7.75rem;
        grid-template-rows: 1fr;
        grid-column-gap: .75rem;
        justify-content: center;
        font-size: 2.5rem;
        font-family: fonts.$nunito;
        color: colors.$magenta;
        font-weight: fonts.$bold;

        @at-root .efekt-row[data-row="front-page-timer"] #{&} {
            margin: 1.25rem 0 0 $weird-offset + .625rem;
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 2rem;
            font-weight: fonts.$regular;

            span {
                width: 5rem;
                height: 5rem;
                line-height: 5rem;
                background: colors.$magenta;
                color: colors.$white;
                border-radius: 50%;
                text-align: center;
                margin-bottom: .25rem;
            }
        }
    }

    &-wrapper {
        overflow-x: hidden;
    }
}

.col {
    @at-root .efekt-row[data-row="front-page-quote"] #{&} {
        padding-top: 7.5rem;
    }

    @at-root .efekt-row[data-row="front-page-benefits"] #{&} {
        padding-top: 4rem;
        padding-bottom: 12.5rem;
    }

    @at-root .efekt-row[data-row="front-page-agenda"] #{&} {
        padding-top: 10.25rem;
        padding-bottom: 9rem;
    }
}

@media (min-width: 992px) {
    .efekt {
        &-numbers {
            @at-root .efekt-row[data-row="front-page-numbers"] #{&} {
                max-width: 50.75rem;
                margin-left: auto;
                margin-right: auto;
            }
        }

        &-p {
            @at-root .efekt-row[data-row="front-page-about-us"] #{&},
            .efekt-row[data-row="front-page-quote"] #{&},
            .efekt-row[data-row="front-page-benefits"] #{&},
            .efekt-row[data-row="front-page-agenda"] #{&} {
                margin-left: auto;
                margin-right: auto;
            }

            @at-root .efekt-row[data-row="front-page-about-us"] #{&} {
                max-width: 65rem;
            }

            @at-root .efekt-row[data-row="front-page-quote"] #{&},
            .efekt-row[data-row="front-page-benefits"] #{&},
            .efekt-row[data-row="front-page-agenda"] #{&} {
                max-width: 68rem;
            }

            @at-root .efekt-row[data-row="front-page-quote"] #{&} {
                &:nth-child(4) {
                    max-width: 66rem;
                }
            }
        }

        &-row {
            &[data-row="front-page-conferences"] {
                div div {
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 72rem;
                }
            }
        }
    }
}

@media (min-width: 1500px) {
    .container {
        &, &-lg, &-md, &-sm, &-xl {
            max-width: 1480px;
        }
    }
}